<template>
  <div id="wrapper">
    <notifications></notifications>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link to="/" class="navbar-brand"><span>Platform name</span></router-link>
      </div>
      <div>
        <div>
          <ul class="nav navbar-top-links navbar-right" v-if="!isLoggedIn()">
            <li class="dropdown">
              <router-link to="login"> <i class="fa fa-sign-in fa-fw"></i> Connect </router-link>
            </li>
          </ul>
          <ul class="nav navbar-top-links navbar-right" v-if="isLoggedIn()">
            <li class="dropdown">
              <router-link to="user"> <i class="fa fa-user-circle-o fa-fw"></i> <span>{{ auth.currentUser.username }}</span></router-link>
            </li>
            <li class="dropdown">
              <router-link to="logout"> <i class="fa fa-sign-in fa-fw"></i> Exit </router-link>
            </li>
          </ul>
        </div>
      </div>

      <!-- Side bar -->
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <li class="sidebar-search">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
              </div>
            </li>
            <li v-if="isLoggedIn()">
              <router-link to="alerts"><i class="fa fa-dashboard fa-fw"></i> Alerts</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="wrapper">
      <div id="page-wrapper">
        <div class="container-fluid">
          <div id="app">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import AuthService from './services/AuthService'
  import Notifications from './components/Notification'

  export default {
    components: {
      Notifications
    },
    name: 'app',
    data() {
      return {
        auth: AuthService.store
      }
    },
    methods: {
      isLoggedIn() {
        return this.auth.authenticated;
      }
    }
  }
</script>

<style>
  @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
  @import "../node_modules/metismenu/dist/metisMenu.min.css";
  @import "../node_modules/startbootstrap-sb-admin-2/dist/css/sb-admin-2.min.css";
  @import "../node_modules/font-awesome/css/font-awesome.min.css";

  html, body {
    height: 100%;
  }
  #wrapper, #page-wrapper {
    height: 95%;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    position: relative;
    height: 100%;
  }
</style>
