<script>
    export default {
        name: 'Alerts',
        data () {
            return {
                msg: 'Alerts Dashboard and config'
            }
        }
    }
</script>

<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
    </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
