<template>
  <div>
    <div class="modal fade" tabindex="-1" role="dialog" id="loginErrorModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Login unsuccessful</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h1 class="page-header">Login</h1>
        <!--<div th:if="${param.error}">-->
        <!--Invalid username and password.-->
        <!--</div>-->
        <!--<div th:if="${param.logout}">-->
        <!--You have been logged out.-->
        <!--</div>-->
        <form @submit.prevent="login">
          <div class="form-group">
            <label for="username" class="sr-only">Email address</label>
            <input v-model="loginDTO.username" class="form-control"
                   id="username"
                   type="text"
                   placeholder="Email address"
                   required=""
                   autofocus="" />
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input v-model="loginDTO.password" class="form-control"
                   id="password"
                   type="password"
                   placeholder="Password"
                   required="" />
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </div>
        </form>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h1 class="page-header">Sign up</h1>
        <!--<div th:if="${param.error}">-->
        <!--Invalid username and password.-->
        <!--</div>-->
        <!--<div th:if="${param.logout}">-->
        <!--You have been logged out.-->
        <!--</div>-->
        <form @submit.prevent="signup">
          <div class="form-group">
            <label for="signupUsername" class="sr-only">Nickname</label>
            <input v-model="signupDTO.username"
                   type="text"
                   id="signupUsername"
                   class="form-control"
                   placeholder="Nickname"
                   required="required" />
          </div>
          <div class="form-group">
            <label for="signupEmail" class="sr-only">Email address</label>
            <input v-model="signupDTO.email"
                   type="username"
                   id="signupEmail"
                   class="form-control"
                   placeholder="Email address"
                   required="required"
            />
          </div>
          <div class="form-group">
            <label for="signupPassword" class="sr-only">Password</label>
            <input v-model="signupDTO.password"
                   type="password"
                   id="signupPassword"
                   class="form-control"
                   placeholder="Password"
                   required="required"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import AuthService from '../services/AuthService'
  import UserService from '../services/UserService'
  import NotificationStore from '../services/store/Notification'

  export default {
    name: 'Login',
    data () {
      return {
        loginDTO: {},
        signupDTO: {}
      }
    },
    methods: {
      login() {
        AuthService.login(this.loginDTO).then( this.loginSuccess.bind(this) );
      },
      loginSuccess() {
        NotificationStore.add('success', 'Authentification réussie, bonjour ' + this.loginDTO.username);
        this.$router.push({name: 'Alerts'});
      },
      signup() {
        UserService.createUser(this.signupDTO).then( this.signupSuccess.bind(this) );
      },
      signupSuccess() {
        var creditals = {
          username: this.signupDTO.username,
          password: this.signupDTO.password
        };

        AuthService.login(creditals).then( this.redirectSignup.bind(this) );
      },
      redirectSignup() {
        NotificationStore.add('success', 'Utilisateur ' + this.signupDTO.username + ' créé avec succès');
        this.$router.push({name: 'UserMe'});
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
