<template>
</template>

<script>
  import AuthService from '../services/AuthService'
  import NotificationStore from '../services/store/Notification'

  export default {
    name: 'Logout',
    data() {
      return {
        store: AuthService.store
      }
    },
    mounted() {
      NotificationStore.add('info', 'Déconnexion, aurevoir ' + this.store.currentUser.username);
      AuthService.logout();
      this.$router.push({name: 'Landing'});
    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
