<style>
    .alerts {
        position: fixed;
        z-index: 10000;
        top: 0px;
        right: 0px;
        width: 100%;
        overflow: auto;
        border-radius:0;
    }
</style>

<template>
    <div class="alerts">
        <div class="alert alert-dismissible"
             v-for="alert in shared.alerts"
             :class="['alert-' + alert.type]"
             role="alert">
            <button type="button" class="close" aria-label="Close" @click="close(alert)"><span aria-hidden="true">&times;</span></button>
            {{ alert.text }}
        </div>
    </div>
</template>

<script>
    import NotificationStore from '../services/store/Notification'

    export default {
        data () {
            return {
                shared: NotificationStore.state
            }
        },
        methods: {
            close (alert) {
                NotificationStore.dismiss(alert)
            }
        }
    }
</script>