<template>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="http://lorempixel.com/200/200/people/9" class="avatar img-circle img-thumbnail" alt="avatar">
                <!--<h4>Upload a different photo...</h4>-->
                <!--<input type="file" class="text-center center-block well well-sm">-->
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Username:</label>
                    <div class="col-lg-8">
                        <span class="form-control" disabled="disabled">{{ currentUser.username}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <span class="form-control" disabled="disabled">{{ currentUser.email }}</span>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-md-3 control-label"></label>-->
                    <!--<div class="col-md-8">-->
                        <!--<button class="btn btn-primary" type="submit">Save Changes</button>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</template>

<script>
    import AuthService from '../services/AuthService'
    import UserService from '../services/UserService'

    export default {
        name: 'UserMe',
        data() {
            return {
                currentUser: {}
            }
        },
        created() {
            this.currentUser = {
                username: AuthService.store.currentUser.username,
                email: AuthService.store.currentUser.email
            }
        },
        methods: {
            saveUser() {
                var userDTO = { username: this.currentUser.username };

                UserService
                        .updateUser(userDTO)
                        .then(this.updateCurrentUser);
            },
            updateCurrentUser(resp) {
                if (resp.status == 200) {
                    AuthService.store.currentUser.username = this.currentUser.username
                }
            }
        }
    }
</script>